@import '../../../style/mixins.scss';
@import '../../../style/variables.scss';

.cardProducts{
    background-color: #ffffff;
    width: 280px;
    margin: 10px;
    border-radius: 15px;
    padding: 10px;
    overflow: hidden;
    color: #000000;
    @include FromMin($small) {
    }
    & img{
        width: 200px;
        height: 200px;
    }
    &__image{
        width: 260px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__title{
        display: block;
        height: 74px;
        font-size: 18px;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #000000;
    }
    &__price{
        font-size: 15px;
        color: #6b6b6b;
        &.--price{
            color: #6b6b6b;
            text-decoration: line-through;
        }
    }
    &__price-finish{
        color: #000000;
    }
    &__discount{
        background-color: #ef0000;
        color: #000000;
        padding: 1px 5px;
        margin-left: 5px;
        border-radius: 5px;
    }
    &__content-cart{
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #000000;
        & span{
            color: #349b08;
        }
    }
    &__button{
        width: auto;
        padding: 0px;
        background-color: transparent;
        &.--agree{
            color: #37b500;
        }
        &.--actived{
            animation: moveCart 3s linear;
            position: relative;
            @keyframes moveCart {
                0% {
                    transform: rotate(0deg);
                }
                10%{
                    transform: rotate(30deg);
                }
                20% {
                    transform: rotate(-30deg);
                }
                30% {
                    transform: rotate(30deg);
                }
                40% {
                    transform: rotate(-30deg);
                }
                50% {
                    transform: rotate(30deg);
                }
                60%{
                    transform: rotate(-30deg);
                }
                70% {
                    transform: rotate(30deg);
                }
                80% {
                    transform: rotate(-30deg);
                }
                90% {
                    transform: rotate(30deg);
                }
                100% {
                    transform: rotate(0deg);
                }
            }
        }
    }
}
