.header{
  height: 60px;
  width: 100%;
  background-color: #3d3d3d;
  position: fixed;
  top: 0px;
  z-index: 99;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  &__logo{
    width: 60px;
    height: 60px;
    margin-right: -10px;
  }
  &__content-logo{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
  }
  &__content-cart{
    margin: 0px 20px;
    position: relative;

  }
  &__button-cart{
    background-color: transparent;
  }

  &__content-length{
    position: absolute;
    top: -2px;
    right: 0px;
    background: red;
    padding: 4px 8px;
    border-radius: 50%;
  }
}
