.cart{
    padding-bottom: 10vh;
    padding-top: 5vh;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    &__info{
        width: 100%;
        max-width: 700px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
        flex-direction: row;
        padding: 10px 20px;
    }
    &__total{
        margin-right: 10px;
    }
}
