@import '../../../style/mixins.scss';
@import '../../../style/variables.scss';

.cart{
    padding-bottom: 10vh;
    padding-top: 5vh;
    min-height: 85vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    &__title{
        margin: auto;
        text-align: center;
        margin: 0px 0px 50px;
        font-size: 27px;
        @include FromMin($small) {
            font-size: 49px;
        }
    }
    &__content-info{
        width: 100%;
        height: 101px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;
        flex-direction: column;
    }
    &__info{
        width: 100%;
        max-width: 700px;
        padding: 10px 20px;

        @include FromMax($medium) {
            background-color: #ffffff;
            max-width: 100%;
            bottom: 0px;
            position: fixed;
        }
        & button{
            background-color: #327f21;
            border: none;
            color:  #fefefe;
            width: 100%;
            height: 40px;
            font-size: 20px;
            color: #ffffff;
        }
        &.--fixed{
            position: initial;
        }
    }
    &__info-total{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        padding: 10px 0px;
        align-content: space-between;
        flex-wrap: wrap;
    }
    &__total{
        margin-right: 10px;
    }

    &__content-input{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 5px 0px;
        & input{
            height: 30px;
            padding: 5px;
            font-size: 17px;
            border-radius: 7px;
            border: 1px solid #ccc;
            background-color: #f7f7f7;
        }
    }
    &__button{
        margin-top: 15px;
        background-color: #327f21;
        border: none;
        color: #fefefe;
        width: 180px;
        height: 40px;
        font-size: 20px;
        color: #ffffff; 
    }
}
